global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: 'flowcube-simulator'
    static_configs:
      - targets: ['host.docker.internal:8001']
    metrics_path: '/metrics'
